<div class="container-fluid d-flex justify-content-center" style="flex-direction: column;">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Seja Bem Vindo!</h1>
    </div>
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" style="margin: 0px 10px 0px 10px; display: flex; flex-direction: column; justify-content: center;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total de Usuários</div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"><%= @total_users %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4" style="height: 35vh; max-height: 150px;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body" style="margin: 0px 10px 0px 10px; display: flex; flex-direction: column; justify-content: center;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total de Questões</div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"><%= @total_questions %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-question fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>