<head>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.2.1/css/all.css">
</head>
<h1>Seja Bem Vindo!</h1>

<div class="row">
    <div class="tile_count">
        <div class="col-md-4 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa-solid fa-comment"></i> Respondidas</span>
            <div class="count" style="display:flex; flex-direction: row; justify-content: center;"><%= @user_statistic.total_questions %></div>
            <span class="count_bottom">Total de questões respondidas.</span>
        </div>
        <div class="col-md-4 col-sm-4  tile_stats_count">
            <span class="count_top" style="color: green"><i class="fa-solid fa-check"></i> Corretas</span>
            <div class="count" style="color: green; display:flex; flex-direction: row; justify-content: center;"><%= @user_statistic.right_questions %></div>
            <span class="count_bottom">Total de questões corretas.</span>
        </div>
        <div class="col-md-4 col-sm-4  tile_stats_count">
            <span class="count_top" style="color: red;"><i class="fa-solid fa-xmark"></i> Incorretas</span>
            <div class="count" style="color: red; display:flex; flex-direction: row; justify-content: center;"><%= @user_statistic.wrong_questions %></div>
            <span class="count_bottom">Total de questões incorretas.</span>
        </div>
    </div>
</div>