<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>


<% if user_signed_in? %>
    <p>Logado como Usuário<p>
<% end %>

<% if admin_signed_in? %>
    <p>Logado como Administrador<p>
<% end %>